ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\20D8";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #00c6bb; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  margin-top: 0.5em;
}

.remark-slide-content {
    font-size: 26px;
    padding: 1em 4em 1em 4em;
}

.remark-slide-number {
  display: none;
}